@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    color: #3a3a3a;
    font-Size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-Size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(10, 10, 70);
    padding: 10px;
}

p {
    font-family: 'Cabin', Sans-Serif;
    padding: 20px;
    font-size: 1em;
    line-height: 30px;
    text-align: justify;
    color: #252525;
}



/* headings and logo */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
}

#logo-img {
    width: 8%;
    justify-content: flex-start;
}

/* navigation links */

nav a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#menu,
nav {
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: 700;
    word-spacing: 8px;
}

#menu,
ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

#menu,
li {
    list-style-type: none;
    display: inline-block;
}

/*Cover image and cover text*/

#cover-image {
    height: 580px;
    background: url('../images/Cover_image_bkg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#cover-text>h2 {
    color: #ffffff;
    font-size: 1.1em;
    text-align: justify;
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;

    bottom: 150px;
    right: 500px;

    padding: 10px;
    border-radius: 10%;

    width: 200px;
    height: 160px;

    background-color: rgba(52, 155, 141, 0.5);

    position: absolute;
}

#cover-text>h2:hover {
    color: rgba(0, 238, 255, 0.644);
}

/*Mission and introductary sections*/

#intro {
    padding: 20px;
    width: 95%;
    line-height: 20px;
    clear: both;
}

#intro h2 {
    text-align: center;
}

#intro p {
    padding: 20px;
    font-size: 1em;
    text-align: justify;
}

.intro-heading {
    font-size: 80%;
    text-align: center;
    padding: 5px;
}

#intro,
p {
    font-size: 1.2em;
}

#mission-statement>img {
    width: 60%;
}

video {
    width: 35%;
    height: auto;
    padding-bottom: 50px;
  }

/*Chemistry Introduction*/
#chem-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chem-content {
    width: 100%;
}

#chem-img>img {
    width: 90%;
}


/*Computer Introduction*/
#comp-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comp-content {
    width: 100%;
}

#comp-img>img {
    width: 100%;
}

/*Computational Chemistry Introduction*/

#compchem-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#compchem-content {
    width: 100%;
}

#compchem-img>img {
    width: 100%;
}

/*Impact and Importance*/

#impact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#impact-content {
    width: 100%;
}

#impact-img>img {
    width: 90%;
}


/* Footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: silver;
    padding: 2em;
    margin-top: 30px;
    box-sizing: border-box;
}

.social-networks li {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}


/*Timeline*/

#timeline-intro {
    padding: 20px;
}

#timeline-intro h2 {
    font-size: 2em;
    text-align: center;
}

#chem-comp-timeline h2 {
    font-size: 1.5em;
    text-align: center;
}

#chem-comp-timeline p {
    text-align: justify;
    width: 90%;
    margin-left: 45px;
}

#chem-comp-timeline img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

#coding-timeline h2 {
    font-size: 1.5em;
    text-align: center;
}

#coding-timeline p {
    text-align: justify;
    width: 90%;
    margin-left: 45px;
}

#coding-timeline img {
    display: block;
    margin: 0 auto;
    width: 90%;
}


/*Feedback Form*/
form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 70%;
    position: relative;
    left: 10%;
    padding: 30px;
}

#feedback-intro {
    clear: both;
}

#feedback-intro,
h3 {
    font-size: 1.2em;
    text-align: center;
}

#feedback-intro,
p {
    font-size: 1.2em;
    text-align: center;
}

#questions {
    font-size: 1.2em;
    text-align: center;
}

#interest {
    justify-content: center;
    padding: 20px;
    align-items: center;
    display: inline-flex;
}

#informative {
    justify-content: center;
    padding: 20px;
    align-items: center;
    display: inline-flex;
}

#suggestions1 {
    border: 1px solid #999999;
    width: 95%;
    padding: 3px;
}

#satisfaction {
    justify-content: center;
    padding: 20px;
    align-items: center;
    display: inline-flex;
}
#suggestions2 {
    border: 1px solid #999999;
    width: 95%;
    padding: 3px;
}
#submit {
    font-size: 1.2em;
    color: rgb(11, 11, 100);
    margin: 10px;
    border: 2px solid black;
}


/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #menu{
        flex-direction: column;
    }

    #cover-text {
        left: 300px;
    }

    #chem-intro {
        flex-direction: column;
    }

    #comp-intro {
        flex-direction: column;
    }

    #compchem-intro {
        flex-direction: column;
    }

    #impact {
        flex-direction: column;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #cover-text {
        left: 250px;
    }
    .intro-heading>h2 {
        font-size: 25px;
    }
    #mission-statement>img {
        width: 80%;
        padding-left: 50px;
    }
    video {
        width: 50%;
        height: auto;
        padding-left: 100px;
      }
}