@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */
#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3520aa;
    padding: 10px;
}

/*footer*/


.social-networks {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: blue;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo,
#menu {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/*Cover image and cover text*/

#hero-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-image {
    height: 500px;
    width: 100%;
    margin: 0 20vw;
    background: url('../images/Cover_image_bkg.jpg') no-repeat;
    background-size: contain;
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 80%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 2px;

    bottom: 100px;
    right: 600px;

    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10%;

    width: 200px;
    height: 160px;

    background-color: rgba(52, 155, 141, 0.5);

    position: absolute;
}

/*Mission and introductary sections*/

#intro {
    height: 1200px;
    margin: 0;
    padding: 50px;
    width: 95%;
    line-height: 20px;
    clear: both;
}

#intro h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(10, 10, 90);
}

#intro p {
    padding: 30px 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 1.5em;
    line-height: 30px;
    text-align: justify;
    color: #252525;
}


#intro {
    margin: 20px;
}

.intro-heading {
    font-size: 80%;
    text-align: center;
}

#intro,
p {
    font-family: 'Calibri', sans-serif;
    font-size: 1em;
}

#mission-statement,
h2 {
    font-size: 100%;
    padding: 10px;
}

/*Chemistry Introduction*/
#chem-intro {
    padding: 10px;
    height: 450px;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

#chem-content {
    width: 100%;
}

#chem-img {
    padding-top: 30px;
    width: 100%;
}

#comp-img,
img {
    width: 100%;
}

/*Computer Introduction*/
#comp-intro {
    padding: 10px;
    height: 450px;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

#comp-content {
    width: 100%;
}

#comp-img {
    padding-top: 30px;
    width: 100%;
}

#comp-img,
img {
    width: 100%;
}

/*Computational Chemistry Introduction*/

#compchem-intro {
    padding: 10px;
    height: 450px;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

#compchem-content {
    width: 100%;
}

#compchem-img {
    padding-top: 30px;
    width: 100%;
}

#compchem-img,
img {
    width: 100%;
}
















