@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */
#logo {
    float: left;
    font-size: 150%;
    margin-left: 30px;
    
}

#logo-img {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 10px;
    width: 8%;
}

h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3520aa;
    padding: 10px;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo{
    line-height: 30px;
}
#menu {
    line-height: 10px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/*Cover image and cover text*/

#hero-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-image {
    height: 500px;
    width: 100%;
    margin: 0 20vw;
    background: url('../images/Cover_image_bkg.jpg') no-repeat;
    background-size: contain;
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 120%;
    font-family: 'Oswald'sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    bottom: 100px;
    right: 600px;

    padding: 10px;
    border-radius: 10%;

    width: 200px;
    height: 160px;

    background-color: rgba(52, 155, 141, 0.5);

    position: absolute;
}

/*Mission and introductary sections*/

#intro {
    height: 2500px;
    margin: 0;
    padding: 20px;
    width: 100%;
    line-height: 20px;
    clear: both;
}

#intro h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(10, 10, 90);
}

#intro p {
    padding: 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 1.5em;
    line-height: 30px;
    text-align: justify;
    color: #252525;
}

#intro {
    margin: 10px;
}

.intro-heading {
    font-size: 80%;
    text-align: center;
}

#intro,
p {
    font-family: 'Calibri', sans-serif;
    font-size: 1em;
}

#mission-statement,
h2 {
    font-size: 100%;
    padding: 10px;
}
#mission-statement,
p {
    width: 95%;
}

/*Chemistry Introduction*/
#chem-intro {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#chem-content {
    width: 180%;
}

#chem-img {
    padding-top: 30px;
    width: 100%;
    object-fit: cover;
}

#chem-img,
img {
    width: 100%;
}


/*Computer Introduction*/
#comp-intro {
    padding: 10px;
    height: 550px;
    width: 95%;
    display: flex;
    flex-direction: row;
}

#comp-content {
    width: 180%;
}

#comp-img {
    padding-top: 50px;
    width: 100%;
    
}

#comp-img,
img {
    width: 100%;
    object-fit: cover;
}

/*Computational Chemistry Introduction*/

#compchem-intro {
    padding: 10px;
    height: 700px;
    width: 95%;
    display: flex;
    flex-direction: row;
}

#compchem-content {
    width: 150%;
}

#compchem-img {
    padding-top: 30px;
    width: 100%;
}

#compchem-img,
img {
    width: 70%;
}

/*Impact and Importance*/


#impact li {
    list-style-type: square;
    margin-right: 30px;
    font-family: 'Calibri', sans-serif;
    font-size: 1.5em;
    line-height: 30px;
    text-align: justify;
    color: #252525;
    clear: both;
}


/* Footer */

footer {
    height: 150px;
    position: relative;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/*Timeline*/




/*Feedback Form*/
form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 70%;
    position: relative;
    left: 10%;
    padding: 30px;
}

#feedback-intro {
    margin: 80px;
    height: 60px;
    clear: both;
}

#feedback-intro, h3 {
    font-size: 1.5em;
    text-align: center;
}

#feedback-intro, p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 5%;
}

#questions {
    padding: 30px 5%;
    font-size: 1.2em;
    text-align: center;
    height: 800px;
}

#interest {
    inline-size: 30px;
}

#informative {
    inline-size: 30px;
    margin-bottom: 20px;
}

#satisfaction {
    inline-size: 30px;
    margin-bottom: 20px;
}

#suggestions {
    border: 1px solid rgb(10, 10, 90);
    text-align: left;
    margin-bottom: 10px;
}

#submit {
    font-size: 1.2em;
    color: rgb(11, 11, 100);
    border: 2px solid black;
    
}



